*, html {
  box-sizing: border-box;
}

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0.5rem 0 1rem;
}

a, a:active, a:visited {
  color: dodgerblue;
  text-decoration: none;
}

section {
  margin: 0 auto;
  max-width: 600px;
}

nav {
  padding: 0.8rem 0;
}

nav a {
  margin-right: 1rem;
  transition: all 0.3s ease;
  text-decoration: none;
  border-bottom: 1px solid white;
  padding: 0.2rem;
}

nav a.active-link, nav a:hover {
  border-bottom: 1px solid black;
}

main {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 1rem;
}
